<div class="card">
    <div class="card-header">
        <h3>Cistas Médicas</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Motivo de Consulta</th>
                    <th scope="col">Enfermedad Actual</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <!-- <th scope="row">{{ historia.codigo_historiaClinica }}</th>
                    <td>{{ historia.motivo_consulta }}</td>
                    <td>{{ historia.enfermedad_actual}} </td>
                    <td>{{ historia.fecha }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>